@keyframes spread {
  to {
    grid-gap: 1.8em;
  }
}

.Circle {
  align-content: center;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(8, calc(calc(100vmin - var(--tab-list-height) - 8 * 2em) / 8));
  grid-template-rows: repeat(8, calc(calc(100vmin - var(--tab-list-height) - 8 * 2em) / 8));
  justify-content: center;
  min-height: calc(100vh - var(--tab-list-height));
  padding-bottom: var(--tab-list-height);
}

.Circle-item {
  background: moccasin;
  border-radius: 1em;
  box-shadow: 1px 1px 5px #0007;
  grid-column-end: span 2;
  grid-row-end: span 2;
  position: relative;
}

.Circle-a,
.Circle-h {
  grid-column-start: 4;
}

.Circle-b,
.Circle-f {
  grid-column-start: 2;
}

.Circle-c,
.Circle-g{
  grid-column-start: 6;
}

.Circle-d {
  grid-column-start: 1;
}

.Circle-e {
  grid-column-start: 7;
}

/* Circle toggle */

.CircleToggle {
  display: none;
  visibility: hidden;
}

.CircleToggle:checked + .Circle {
  animation: spread 3s ease-in-out infinite alternate;
}

.CircleToggleLabel {
  bottom: 1em;
  cursor: pointer;
  left: 1em;
  position: absolute;
}

.CircleToggleLabel:focus,
.CircleToggleLabel:hover {
  color: hsl(0, 0%, 40%);
}
