.ColorGrid {
  display: grid;
  grid-auto-rows: 6em;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, 6em);
  justify-content: center;
  padding: 0 1em 1em;
}

.ColorGrid > * {
  align-items: center;
  border-radius: 1em;
  box-shadow: 1px 2px 5px #0007;
  color: black;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  text-align: center;
}
