/* TabList */

:root {
  --tab-list-height: 3em;
}

.TabList {
  display: grid;
  grid-gap: 1em;
  list-style: none;
  margin: 0 1em;
  max-width: calc(100vw - 2em);
  overflow-x: auto;
  padding: 1em 0;
  position: absolute;
  top: 0;
  z-index: 2;
}

/* TabListItem */

.TabListItem {
  color: hsl(0, 0%, 0%);
  grid-row-start: 1;
  text-decoration: none;
  white-space: nowrap;
}

.TabListItem:focus,
.TabListItem:hover {
  color: hsl(0, 0%, 40%);
}

/* Tabs */

.Tabs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.Tabs-panel {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  opacity: 1;
  padding-top: var(--tab-list-height);
  transition: opacity 200ms ease-in-out;
}

.Tabs-panel:target {
  z-index: 1;
}

.Tabs-panel:not(:target) {
  opacity: 0;
}
